@font-face {
  font-family: "Funnel Sans";
  src: url('fonts/FunnelSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Funnel Sans", "Segoe UI";
  color: #ddd;
  padding: 40px;
  user-select: none;
}

.treeview {
  background-color: #1e1e1e;
  border: 1px solid #383838;
  border-radius: 8px;
  padding: 2px;
  font-size: 14px;
}
.treeview:focus {
  outline: none;
}
 
.treeview li {
  list-style: none;
}

.children-container {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;

  transition: grid-template-rows 0.25s, opacity 0.5s ease 0s;
}
.tree-node[data-expanded="true"] + .children-container {
  transition-delay: 0s, 0.05s;

  grid-template-rows: 1fr;
  opacity: 1;
}

.treeview ul {
  overflow: hidden;
  margin: 0px 0px 0px 1em;
  padding: 0px 0px 0px 1em;
  border-left: 1px solid #2c2c2c;

  transition: border-color 0.35s ease;
}
.treeview li:hover > .children-container > ul {
  border-color: #4e4e4e;
}

.tree-node {
  display: flex;
  margin: 1px;
  border-radius: 5px;

  transition: background-color 0.2s;
}
.tree-node:hover {
  background-color: #272727;
  outline: 1px solid #383838;
}
.tree-node[data-selected="true"] {
  background-color: #303030;
}

.expander-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;

  cursor: pointer;
}
.expander-container.hidden {
  visibility: hidden;
}

.expander-container .expander {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  height: 0.5em;
  aspect-ratio: 1;
  transform: rotate(-45deg);

  transition: transform 0.3s ease;
}
.tree-node[data-expanded="true"] .expander {
  transform: rotate(45deg);
}

.label-container {
  width: 100%;
  padding: 3px 0px;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.tree-icon {
  height: 1.225em;
}
