:root {
  --foreground: #dddddd;
  --foreground-dark: #aaaaaa;
  --foreground-light: #ffffff;

  --region: #151515;
  --region-light: #1d1d1d;

  --secondary-region: #292929;
  --secondary-region-dark: #242424;
  --secondary-region-light: #333333;

  --border: #404040;
  --border-dark: #2c2c2c;
  --border-light: #525252;

  --scrollbar: #555555;
  --scrollbar-hover: #808080;

  --border-radius-1: 5px;
  --border-radius-2: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #111111;
    --foreground-dark: #444444;
    --foreground-light: #000000;

    --region: #d2d2d2;
    --region-light: #eeeeee;

    --secondary-region: #dfdfdf;
    --secondary-region-dark: #e2e2e2;
    --secondary-region-light: #d6d6d6;

    --border: #bfbfbf;
    --border-dark: #d5d5d5;
    --border-light: #8f8f8f;

    --scrollbar: #aaaaaa;
    --scrollbar-hover: #727272;
  }
}

::selection {
  /* color: var(--foreground-light); */
  background-color: color-mix(in srgb, var(--foreground) 27%, transparent);
}

@font-face {
  font-family: "Funnel Sans";
  src: url('../assets/fonts/FunnelSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Funnel Sans", "Segoe UI";
  font-weight: 500;
  font-size: 14px;
  background-color: var(--region);
  color: var(--foreground);
  padding: 15px;
  box-sizing: border-box;
  user-select: none;
}

.maingrid {
  display: grid;
  overflow: hidden;
  grid-template-columns: 55fr 45fr;
  gap: 10px;
  height: 100%;
}
