.treeview {
  background-color: var(--region-light);
  border: 1px solid var(--border);
  color: var(--foreground);
  border-radius: 8px;
  padding: 2px;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.treeview:focus {
  outline: none;
}
 
.treeview li {
  list-style: none;
}

.children-container {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;

  margin: 0px 1px 0px 1em;
  border-left: 1px solid var(--border-dark);

  transition: grid-template-rows 250ms cubic-bezier(0.33, 0.13, 0.19, 1), border-color 350ms 100ms, opacity 500ms;
}
.tree-node[data-expanded="true"] + .children-container {
  grid-template-rows: 1fr;
  opacity: 1;
}
.treeview li:hover > .children-container {
  border-color: var(--border-light);
}

.treeview ul {
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 1em;
  border-radius: 0px 5px 5px 0px;

  transition: background-color 300ms 100ms;
}
.tree-node[data-selected="true"] + .children-container > ul {
  background-color: var(--secondary-region-dark);
}

.tree-node {
  display: flex;
  flex-shrink: 0;
  margin: 1px;
  border-radius: 5px;

  transition: background-color 250ms;
}
.tree-node:hover {
  background-color: var(--secondary-region);
  outline: 1px solid var(--border);
}
.tree-node[data-selected="true"] {
  background-color: var(--secondary-region-light);
}

.expander-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 2em;

  cursor: pointer;
}
.expander-container.hidden {
  visibility: hidden;
}

.expander-container .expander {
  border-right: 1px solid var(--foreground-dark);
  border-bottom: 1px solid var(--foreground-dark);
  height: 0.5em;
  aspect-ratio: 1;
  transform: rotate(-45deg);

  transition-property: transform, transform-origin;
  transition-duration: 300ms;
}
.tree-node[data-expanded="true"] .expander {
  transform: rotate(45deg);
}

.label-container {
  width: 100%;
  padding: 3px 0px;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  gap: 0.3em;
}

.tree-icon {
  flex-shrink: 0;
  height: 1.225em;
}

.tree-label {
  white-space: nowrap;
  overflow: hidden;
}
