.treedata {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 10px;

  color: var(--foreground-light);
  background-color: var(--region-light);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 20px;
  font-size: 14px;
}
