.treedata-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.treedata {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 1em;

  background-color: var(--region-light);
  border: 1px solid var(--border);
  border-radius: var(--border-radius-2);
  padding: 10px;
  overflow-y: auto;
  /* scrollbar-gutter: stable both-edges; */
}

.data-group-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 3px;
  background-color: var(--secondary-region-dark);
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-2);
  padding: 3px;
  overflow: hidden;
}

.group-label {
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  align-items: center;
  gap: 0.3em;

  background-color: var(--secondary-region-light);
  padding: 3px 5px;
  border-radius: var(--border-radius-1);
  border: 1px solid var(--border);
  border-bottom-width: 2px;
}

.data-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--secondary-region);
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-1);
  padding: 10px;
  overflow: hidden;
}

.data-field {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: var(--secondary-region);
  border: 1px solid var(--border);
  border-radius: var(--border-radius-2);
  padding: 2px;
}

.data-label {
  background-color: var(--secondary-region-light);
  color: var(--foreground-light);
  padding: 2px 5px;
  border: 1px solid var(--border);
  border-bottom-width: 2px;
  border-radius: var(--border-radius-1);
}

.data-value {
  flex: 1 1 auto;
  min-height: 1em;
  max-height: 1em;
  padding: 2px 5px;
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: var(--region);
  border: 1px solid var(--border);
  border-radius: var(--border-radius-1);

  transition: border-color 200ms;
}

.data-value > span {
  color: var(--foreground);
  opacity: 0.7;
  outline: none;
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;

  transition: opacity 200ms;
}
.data-value > span[contenteditable]:focus {
  opacity: 1;
  direction: ltr !important;
}
.data-value:has(> span[contenteditable]:focus) {
  border-color: var(--border-light);
}

.lock {
  display: inline-block;
  text-align: center;
  background-color: var(--secondary-region-dark);
  color: inherit;
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-1);
  height: 1em;
  user-select: text;
  cursor: default;
}

.tag {
  display: inline;
  background-color: var(--secondary-region-dark);
  color: inherit;
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-1);
  height: 1em;
  padding: 0px 0.2em;
  user-select: none;
  cursor: default;
}
