.treedata {
  background-color: var(--region-light);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 20px;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data-field {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
