@font-face {
  font-family: "Funnel Sans";
  src: url('../fonts/FunnelSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Funnel Sans", "Segoe UI";
  color: #ddd;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
}

.maingrid {
  display: grid;
  grid-template-columns: 0.55fr 0.45fr;
  gap: 10px;
  height: 100%;
}
