.treeview {
  background-color: #1e1e1e;
  border: 1px solid #404040;
  border-radius: 8px;
  padding: 2px;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}
.treeview:focus {
  outline: none;
}
 
.treeview li {
  list-style: none;
}

.children-container {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;

  margin: 0px 1px 0px 1em;
  border-left: 1px solid #2c2c2c;

  transition: opacity 0.5s ease 0s, grid-template-rows 0.25s, border-color 0.35s ease 0.1s;
}
.tree-node[data-expanded="true"] + .children-container {
  transition-delay: 0.05s;

  grid-template-rows: 1fr;
  opacity: 1;
}
.treeview li:hover > .children-container {
  border-color: #4e4e4e;
}

.treeview ul {
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 1em;
  border-radius: 0px 5px 5px 0px;

  transition: background-color 0.3s ease 0.1s;
}
.tree-node[data-selected="true"] + .children-container > ul {
  background-color: #232323;
}

.tree-node {
  display: flex;
  margin: 1px;
  border-radius: 5px;

  transition: background-color 0.25s;
}
.tree-node:hover {
  background-color: #292929;
  outline: 1px solid #404040;
}
.tree-node[data-selected="true"] {
  background-color: #333;
}

.expander-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;

  cursor: pointer;
}
.expander-container.hidden {
  visibility: hidden;
}

.expander-container .expander {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  height: 0.5em;
  aspect-ratio: 1;
  transform: rotate(-45deg);

  transition: transform 0.3s ease;
}
.tree-node[data-expanded="true"] .expander {
  transform: rotate(45deg);
}

.label-container {
  width: 100%;
  padding: 3px 0px;
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 0.3em;
}

.tree-icon {
  height: 1.225em;
}

.tree-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
